settings.json
mup.json
.DS_Store
Dockerfile
Dockerrun.aws.json
.ebextensions/01_files.config
.ebextensions/02_app.config
.submodules/awslambda_create_thumbnail/node_modules
deploy_awslambda.sh
meteor_run
